body {
  color: #40514E;
  margin: 0;
  text-align: center;
}

p {
  color: #545454;
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
}

h1 {
  color: #45b29a;
  margin-top: 50px;
  font-family: 'Yesteryear', cursive;
  font-size: 5.625rem;
  font-weight: normal;
}

h2 {
  color: #11999E;
  font-family: 'Merriweather', serif;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Merriweather', serif;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.paragraph {
  color: #45b29a;
  font-size: 2rem;
  padding-bottom: 100px;
}

.intro {
  width: 30%;
  margin: auto;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
  line-height: 0.5;
}

.profilephoto {
  border-radius: 80%;
  width: 15%;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  bottom: 370px;
  left: 250px;
}

.middle-container {
  margin: 100px 0;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.coding {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.painting {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  border: 2px solid #11999E;
  background-color: #11CDD4;
  color: #11999E;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
}

.btn:hover {
  background-color: #30E3CB;
  color: #FFFFFF;
}

.contact-msg {
  width: 40%;
  margin: 40px auto 60px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
